<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SaveRegistDataServlet</servlet-name>
  	<display-name>SaveRegistDataServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.users.SaveRegistDataServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServletUser</servlet-name>
  	<display-name>loginServletUser</display-name>
  	<description></description>
  	<servlet-class>com.servlet.users.loginServletUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjaxServlet</servlet-name>
  	<display-name>AjaxServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.users.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterPageAdmin</servlet-name>
  	<display-name>RegisterPageAdmin</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.RegisterPageAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HandleAdminRequest</servlet-name>
  	<display-name>HandleAdminRequest</display-name>
  	<description></description>
  	<servlet-class>com.servlet.superuser.HandleAdminRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOutSession</servlet-name>
  	<display-name>LogOutSession</display-name>
  	<description></description>
  	<servlet-class>com.helper.LogOutSession</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateAdminServlet</servlet-name>
  	<display-name>ValidateAdminServlet</display-name>
  	<description></description>
  	<servlet-class>com.helper.ValidateAdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveTrainerInformation</servlet-name>
  	<display-name>SaveTrainerInformation</display-name>
  	<description></description>
  	<servlet-class>com.servlet.trainer.SaveTrainerInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveSessionDetails</servlet-name>
  	<display-name>SaveSessionDetails</display-name>
  	<description></description>
  	<servlet-class>com.servlet.sessiondet.SaveSessionDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddskillServlet</servlet-name>
  	<display-name>AddskillServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.AddskillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveRegistDataServlet</servlet-name>
  	<url-pattern>/SaveRegistDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServletUser</servlet-name>
  	<url-pattern>/loginServletUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjaxServlet</servlet-name>
  	<url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterPageAdmin</servlet-name>
  	<url-pattern>/RegisterPageAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HandleAdminRequest</servlet-name>
  	<url-pattern>/HandleAdminRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOutSession</servlet-name>
  	<url-pattern>/LogOutSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateAdminServlet</servlet-name>
  	<url-pattern>/ValidateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveTrainerInformation</servlet-name>
  	<url-pattern>/SaveTrainerInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveSessionDetails</servlet-name>
  	<url-pattern>/SaveSessionDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddskillServlet</servlet-name>
  	<url-pattern>/AddskillServlet</url-pattern>
  </servlet-mapping>
</web-app>
